html {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    background-image:url("background.png");
    padding: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0;
}
.name {
    margin-left: 5%;
    padding: 20px;
    color: #ffffff ;
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
header {
   
    padding: 10px 10px;
    font-size: 12px;
    text-align: center;
    color:  #4aaaa5 ;
    background: #ffffff ;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0%;
    height: 5%;
    width: 100%;
    border: 5px;
    border-color: #cccccc;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 10%;
    top: 0%;
    left: 50%;
    text-align: center;
    margin-bottom: 40px;
}
    
section {
   
    margin: 20px;
    margin-left: 5%;
    padding: 10px;
    color: #777777 ;
    background: #ffffff ;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    height: 72%;
    position: fixed;
    
    border: 5px;
    border-color: #dddddd;
    overflow: inherit;
}
footer {
   
    padding: 10px 10px;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    color: #777777 ;
    background: #666666 ;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 20px;
    border: 20px;
    border-top: 10px solid #4aaaa5;
    
    
    
}

.links {
margin-left: 20%;
flex: auto;
justify-self: right;
}

.about {
   

}
.portfolio {
   
  
}
.contact {
    
}
a:link {
    text-decoration: none;
    color: #cccccc;
}
a:visited{

    text-decoration: none;
    color: #cccccc;
}
p {
    
}

.dalton {
margin: 10px;
margin-bottom: 20px;
float: left;
}
h2 {
    color:  #4aaaa5 ;
}
#button {
background-color: #4aaaa5;
color: #ffffff;
font-family: Arial, Helvetica, sans-serif
}
form {
font-family: Arial, Helvetica, sans-serif;
}
.img {
float: left;
margin: 20px;
position: relative;
text-align: center;
}
.dalton {
height: 200px;
width: 200px;
}
.grey {
    height: 150px;
    width: 150px;

}



.banner { position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #4aaaa5;
    color: #ffffff;
    width: 100%;
    height: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
}
input {
    width: 80%;
}
#subject {
    width: 80%;
    height: 200px;
}
#button {
    width: 10%;
}
@media screen and (max-width: 980px) {
    
}
@media screen and (max-width: 768px) {
.name {
    margin-left: 2%;
    padding: 40px;
}
.navbar {
    height: 15%;
}
 section {
    width: 90%;
    margin-left: 2%;

 }











}

@media screen and (max-width: 640px) {
    header {
    width: 100%;
    text-align: unset;
    }
   
   
    .navbar {
    width: 100%;
    flex-direction: column;
    height: 7%;
    padding-bottom: 60px;
    }
    .name {
    width: 100%;
    left: 0%;
    margin-left: 0%;
    height: 10%;
    
    }
    .about{
    
    }
    .portfolio{
  
    }
    .contact {
    margin-right: 0;
    }
    section {
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 0px;

    }
    .banner {
        width: 400px;
        height: 30px;
    }
    .dalton {
    height: 400px;
    width: 100%;
    float: none;

   
    }
    p {
   
    margin-top: 10px;
    }
    .grey {
    width: 400px;
    height: 400px;

    }
    .links 
    {
        width: 100%;
        height: 10%;
        margin-left: 0%;
        background: #ffffff;
        padding: 20px;
        
    }
    #subject {
        height: 150px;
    }
    footer {
        height: 8px;
        margin-bottom: 0px;
    }
    
}